body {
  margin: 0;
  background: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
}

:root {
  --background: aliceblue;
  --text-accented: var(--blue-300);
  --white: #fff;
  --lightgray: #ced4da;
  --darkgray: var(--bluegray-500);
  --lightblack: var(--surface-700);

  --font-size-xl: 1.25rem;
  --font-size-l: 1rem;
  --font-size-m: 0.75rem;
  --font-size-s: 0.5rem;

  --offset-m: 2rem;
  --offset-s: 1rem;
  --offset-xs: 0.5rem;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: var(--background);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(85, 85, 85, 0.7);
  border-radius: 20px;
}
